
@{
    ViewData["Title"] = "Index";
}

<div class="page-content p-5" id="content">

    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><small class="text-uppercase font-weight-bold">Menu</small></button>

</div>

