@{
    ViewData["Title"] = "Index";
}

<div class="page-content p-5" id="content">

    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><small class="text-uppercase font-weight-bold">Menu</small></button>



    <header class="row">
        <h2 class="col-12 text-white mb-0">Mes études</h2>
    </header>

    <div class="separator"></div>

    <section class="row">

        <ul class="list-unstyled">

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/Etudes/LOGO-VALAREP-300x162.jpg" alt="valarep" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h5 class="text-white">Août 2019 à ce jour</h5>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            Formation Titre Professionnel Développeur Web <br />
                            VALAREP Valenciennes
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/Etudes/m2i_formation.png" alt="m2i" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h5 class="text-white">Décembre 2018 à février 2019</h5>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            Formation environnement .NET <br />
                            M2I Villeneuve d’Ascq
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/Etudes/cma_esm_arrasjpg.jpg" alt="esm_cma_arras" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h5 class="text-white">Courant 2010</h5>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            Formation d’auxiliaire ambulancier <br />
                            ESM Arras<br />
                            Obtention des AFGSU 1 & 2
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/Etudes/Université_Rennes_2png.png" alt="univ_rennes_2" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h5 class="text-white">De 2006 à 2008</h5>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            Première et deuxième année de Licence en Musicologie <br />
                            Université Rennes 2 Haute Bretagne
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/Etudes/1200px-Logo_Lille_1.png" alt="univ_lille_1" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h5 class="text-white">De 2004 à 2005</h5>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            IUP Génomique et Protéomique <br />
                            Université Lille 1 <br />
                            Cursus niveau Bac +2 orienté vers la génétique
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/Etudes/lycee_chatelet.png" alt="lycee_chatelet" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h5 class="text-white">De 2003 à 2004</h5>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            Classes préparatoires aux grandes écoles BCPST <br />
                            Biologie Chimie Physiques Science de la Terre <br />
                            Lycée Châtelet, Douai
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/Etudes/lycee_chatelet.png" alt="lycee_chatelet" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h5 class="text-white">Année 2003</h5>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            Baccalauréat Série S option SVT <br />
                            Lycée Châtelet, Douai <br />
                            Obtenu Mention Bien
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </section>

</div>