@{
    ViewData["Title"] = "Mes Réalisations";
}

<div class="page-content p-5" id="content">

    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><small class="text-uppercase font-weight-bold">Menu</small></button>


    <section class="row">

        <article class="border-radius col-sm-5">
            <div class="row">
                <div class="offset-1 col-10">
                    <img src="~/images/Realisations/Grey-Anatomy.png" alt="grey" class="mr-3 img-thumbnail shadow-sm justify-content-sm-center mb-3">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4 class="text-white">Site Web en ASP.NET</h4>
                    <div class="separator m-0"></div>
                    <p class="lead text-white mb-0 text-justify">
                        Site Web pour les fans de la série TV Grey's Anatomy. <br />
                        Développé en ASP.NET Core 2 <br />
                        Toujours en développement, j'y ajoute des fonctionnalités en fonction des compétences que j'acquiers au fil du temps.
                    </p>
                    <div class="separator"></div>
                    <p class="lead text-white mb-0 text-justify">
                        A découvrir <a href="https://www.greys-anatomy-fans.com" target="_blank">ici</a> <br />
                        Le dépôt Github <a href="https://github.com/Ced59/GreyAnatomyFanSite" target="_blank">ici</a>
                    </p>
                </div>
            </div>
        </article>

        <article class="border-radius offset-sm-2 col-sm-5">
            <div class="row">
                <div class="offset-1 col-10">
                    <img src="~/images/Realisations/musique_cantin.png" alt="musique-cantin" class="mr-3 img-thumbnail shadow-sm justify-content-sm-center mb-3">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4 class="text-white">Site Web associatif</h4>
                    <div class="separator m-0"></div>
                    <p class="lead text-white mb-0 text-justify">
                        Site Web pour une association locale de musique. <br />
                        Non terminé car on ne m'a pas transmis le contenu à y insérer suite à l'abandon du projet par la présidente de l'association. <br />
                        Développé en HTML5, PHP avec MySQL.
                    </p>
                    <div class="separator"></div>
                    <p class="lead text-white mb-0 text-justify">
                        A découvrir <a href="http://www.musique-cantin.fr" target="_blank">ici</a> <br />
                        Le dépôt Github <a href="https://github.com/Ced59/MusiqueClubCantinois" target="_blank">ici</a>
                    </p>
                </div>
            </div>
        </article>

    </section>


    <section class="row">

        <article class="border-radius col-sm-5">
            <div class="row">
                <div class="offset-1 col-10">
                    <img src="~/images/Realisations/petits-jeux.jpg" alt="three-games" class="mr-3 img-thumbnail shadow-sm justify-content-sm-center mb-3">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4 class="text-white">C# : Trois petits jeux</h4>
                    <div class="separator m-0"></div>
                    <p class="lead text-white mb-0 text-justify">
                        Une application comprenant 3 petits jeux en mode console. <br />
                        Jeu de la Roulette. <br />
                        Tirage du Loto. <br />
                        Jeu du "Plus ou Moins". <br />
                        Développé en C# pour m'amuser et pour apprendre la syntaxe du langage.
                    </p>
                    <div class="separator"></div>
                    <p class="lead text-white mb-0 text-justify">
                        Le dépôt Github <a href="https://github.com/Ced59/Three-Little-Console-Games" target="_blank">ici</a>
                    </p>
                </div>
            </div>
        </article>

        <article class="border-radius offset-sm-2 col-sm-5">
            <div class="row">
                <div class="offset-1 col-10">
                    <img src="~/images/Realisations/Battleship_game_board.svg.png" alt="battleship" class="mr-3 img-thumbnail shadow-sm justify-content-sm-center mb-3">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4 class="text-white">C# : Bataille Navale</h4>
                    <div class="separator m-0"></div>
                    <p class="lead text-white mb-0 text-justify">
                        Une application de jeu de Bataille Navale. <br />
                        En mode console, un joueur doit trouver les bateaux de l'adversaire répartis aléatoirement sur le plateau avec le moins de coup possible. <br />
                        Avec fonctionnalité d'enregistrement des scores. <br />
                        Développé en C# toujours pour apprendre le langage et par amusement.
                    </p>
                    <div class="separator"></div>
                    <p class="lead text-white mb-0 text-justify">
                        Le dépôt Github <a href="https://github.com/Ced59/Naval-Battle-Game" target="_blank">ici</a>
                    </p>
                </div>
            </div>
        </article>

    </section>

    <section class="row">

        <article class="border-radius col-sm-5">
            <div class="row">
                <div class="offset-1 col-10">
                    <img src="~/images/Realisations/Présentation_CVenLigne.png" alt="my-CV" class="mr-3 img-thumbnail shadow-sm justify-content-sm-center mb-3">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4 class="text-white">ASP.NET : Cette page</h4>
                    <div class="separator m-0"></div>
                    <p class="lead text-white mb-0 text-justify">
                        A la façon d'une fonction récursive, voici donc ma page personnelle que vous consultez en ce moment même. <br />
                        Développée en ASP.NET Core 2 et autres. <br />
                        Pour montrer mon niveau actuel dans les technologies utilisées.
                    </p>
                    <div class="separator"></div>
                    <p class="lead text-white mb-0 text-justify">
                        Le dépôt Github <a href="https://github.com/Ced59/MyCV" target="_blank">ici</a>
                    </p>
                </div>
            </div>
        </article>


    </section>
</div>