
@{
    ViewData["Title"] = "Parcours Professionnel";
}

<div class="page-content p-5" id="content">

    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><small class="text-uppercase font-weight-bold">Menu</small></button>


    <header class="row">
        <h2 class="col-12 text-white mb-0">Mon parcours professionnel</h2>
    </header>

    <div class="separator"></div>

    <section class="row">

        <ul class="list-unstyled">

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/ParcoursProfessionnel/croix-vie.jpg" alt="croix-vie" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h4 class="text-white">De 2012 à 2018</h4>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            ARLEUX AMBULANCES <br />
                            Auxiliaire Ambulancier <br />
                            3 CDDs successifs puis CDI
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/ParcoursProfessionnel/croix-vie.jpg" alt="croix-vie" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h4 class="text-white">En 2011</h4>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            JUSSIEU SECOURS <br />
                            Marquette-En-Ostrevent <br />
                            Auxiliaire Ambulancier <br />
                            CDD de 4 mois
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/ParcoursProfessionnel/croix-vie.jpg" alt="croix-vie" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h4 class="text-white">En 2011</h4>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            AMBUL62 <br />
                            Noyelles-Godault <br />
                            Auxiliaire Ambulancier <br />
                            3 CDDs succesifs pour une durée totale de 6 mois
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/ParcoursProfessionnel/renault.jpg" alt="renault" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h4 class="text-white">De 2008 à 2009</h4>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            USINE RENAULT DOUAI <br />
                            Agent de production <br />
                            Multiples missions intérimaires
                        </p>
                    </div>
                </div>
            </li>

            <li class="border-radius">
                <div class="row">
                    <div class="col-4">
                        <img src="~/images/ParcoursProfessionnel/renault.jpg" alt="renault" width="150" class="mr-3 img-thumbnail shadow-sm">
                    </div>

                    <div class="col-8">
                        <h4 class="text-white">De 2005 à 2006</h4>
                        <div class="separator m-0"></div>
                        <p class="lead text-white mb-0 text-justify">
                            USINE RENAULT DOUAI <br />
                            Agent de production <br />
                            Multiples missions intérimaires en poste de nuit
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </section>
</div>

